<div class="wrapper animsition">
    <div class="container text-center">
        {{!-- <a class="logo" href="">
            <img alt="" src="../../assets/backend/img/logo2.jpg" width="100"></a> --}}
    <h1 class="font-header login-header text-upper">HMS<span class="text-main">Admin</span></h1>
    
    <div class="single-wrap">
        <div class="single-inner-padding text-center">
        <h3 class="font-header no-m-t">Login to your account</h3>

        <div class="dots-divider m-t-20 center-block"><span class="icon-flickr4"></span></div>

        <form id="adminform_login" method="post" name="adminform_login" action="admin-login" role="form">
            <div class="form-group form-input-group m-t-30 m-b-5">
                <input type="text" class="form-control input-lg font-14" id= "email" name= "email" placeholder="Email Address">
            </div>
            <div class="form-group form-input-group m-t-30 m-b-5">
                <input type="password" class="form-control input-lg font-14" id="password" name="password" placeholder="Password">
            </div>

            <div class="m-l-10 font-11 text-left"><a href="#">Forgot your password?</a></div>

            
            <button class="btn btn-main btn-lg btn-block font-14 m-t-30 " type="submit">Login</button>
        </form>
        {{!-- <div class="m-t-20 text-muted font-11">Don't have an account?</div>

        <a href="register.html" class="btn btn-dark btn-lg btn-block font-14 m-t-20 animsition-link">Create an Account</a> --}}
        </div><!-- /.login-inner -->
    </div><!-- /.login-wrap -->
    </div><!-- /.container -->
</div>