<meta charset="utf-8">
<title>{{title}} | HMSProject</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="../assets/backend/bootstrap/bootstrap.min.css" rel="stylesheet">

<!-- Icon Set -->
<link href="../assets/backend/css/icon.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="../assets/backend/css/font-awesome.min.css" rel="stylesheet">

<!-- Animsition -->
<link href="../assets/backend/css/animsition.min.css" rel="stylesheet">

<!-- Core css -->
<link href="../assets/backend/css/app.css" rel="stylesheet">