<aside class="side-navigation-wrap sidebar-fixed">
      <div class="sidenav-inner">
        <ul class="side-nav magic-nav">
          {{!-- <li class="side-nav-header">Navigation <small><a class="animated theme-setting"
             data-toggle="modal"
             href="#themeSettingModal"></a></small></li> --}}
          <li class="first-link active">
            <a class="animsition-link"
                href="/admin/dashboard"><span class="nav-text">Dashboard</span></a>
          </li>
          <li class="has-submenu">
            <a aria-expanded="false"
                data-toggle="collapse"
                href="#submenu1"><span class="nav-text">Front Office</span> <span class="badge bg-success">6</span></a>
            <div class="sub-menu collapse secondary list-style-circle"
                 id="submenu1">
              <ul>
                <li>
                  <a class="animsition-link"
                      href="/admin/frontoffice/regpatient">Register Patient</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/frontoffice/appointment">Appointment(s)</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="login.html">Visitor Book</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="register.html">Phone Call Log(s)</a>
                </li>
                <li class="has-submenu">
                  <a aria-expanded="false"
                      data-toggle="collapse"
                      href="#submenu6"><span class="nav-text">Postal</span> <span class="badge bg-danger">2</span></a>
                  <div class="sub-menu collapse tertiary list-style-dashed"
                       id="submenu6">
                    <ul>
                      <li>
                        <a class="animsition-link"
                            href="static_table.html">Receive</a>
                      </li>
                      <li>
                        <a class="animsition-link"
                            href="datatable.html">Dispatch</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a class="animsition-link"
                      href="500.html">Complains</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="animsition-link"
                href="/admin/opd"><span class="nav-text">OPD - Out Patient</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="task.html"><span class="nav-text">IPD - In Patient</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="/admin/consultdoctor"><span class="nav-text">Consultant Doctor</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="/admin/phar"><span class="nav-text">Pharmacy</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="/admin/path"><span class="nav-text">Pathology</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="/admin/raid"><span class="nav-text">Radiology</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="task.html"><span class="nav-text">Operation Theatre</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="gallery.html"><span class="nav-text">Blood Bank</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="form_element.html"><span class="nav-text">TPA Management</span></a>
          </li>
          <li class="has-submenu">
            <a aria-expanded="false"
                data-toggle="collapse"
                href="#submenu2"><span class="nav-text">Finance</span> <span class="badge bg-success">11</span></a>
            <div class="sub-menu collapse secondary list-style-circle"
                 id="submenu2">
              <ul>
                <li>
                  <a class="animsition-link"
                      href="blank.html">Blank Page</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="app_layout.html">App Layout</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="login.html">Login</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="register.html">Register</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="404.html">Error 404</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="500.html">Error 500</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="search_result.html">Search Result</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="profile.html">User Profile</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="chat.html">Chat</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="timeline.html">Timeline</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="invoice.html">Invoice</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="animsition-link"
                href="inbox.html"><span class="nav-text">Ambulance</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="task.html"><span class="nav-text">Human Resource</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="gallery.html"><span class="nav-text">Messaging</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="task.html"><span class="nav-text">Downlaod Centre</span></a>
          </li>
          <li>
            <a class="animsition-link"
                href="gallery.html"><span class="nav-text">Inventory</span></a>
          </li>
          <li class="has-submenu">
            <a aria-expanded="false"
                data-toggle="collapse"
                href="#submenu3"><span class="nav-text">Reports</span> <span class="badge bg-success">11</span></a>
            <div class="sub-menu collapse secondary list-style-circle"
                 id="submenu3">
              <ul>
                <li>
                  <a class="animsition-link"
                      href="blank.html">Blank Page</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="app_layout.html">App Layout</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="login.html">Login</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="register.html">Register</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="404.html">Error 404</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="500.html">Error 500</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="search_result.html">Search Result</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="profile.html">User Profile</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="chat.html">Chat</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="timeline.html">Timeline</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="invoice.html">Invoice</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="has-submenu">
            <a aria-expanded="false"
                data-toggle="collapse"
                href="#submenu4"><span class="nav-text">Setups</span> <span class="badge bg-danger">9</span></a>
            <div class="sub-menu collapse secondary list-style-circle"
                 id="submenu4">
              <ul>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/gender">Gender</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/bloodgroup">Blood Group</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/paymode">Payment Mode</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/dept">Department</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/payfee">Payment Fee</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/testname">Test Name</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="/admin/setup/testfee">Test Fee</a>
                </li>
                <li class="has-submenu">
                  <a aria-expanded="false"
                      data-toggle="collapse"
                      href="#submenu10"><span class="nav-text">Pharmacy</span> <span class="badge bg-danger">2</span></a>
                  <div class="sub-menu collapse tertiary list-style-dashed"
                       id="submenu10">
                    <ul>
                      <li>
                        <a class="animsition-link"
                            href="/admin/setup/phar/medname">Medicine Name</a>
                      </li>
                      <li>
                        <a class="animsition-link"
                            href="/admin/setup/phar/medcategory">Medicine Category</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="has-submenu">
                  <a aria-expanded="false"
                      data-toggle="collapse"
                      href="#submenu9"><span class="nav-text">Radiology</span> <span class="badge bg-danger">2</span></a>
                  <div class="sub-menu collapse tertiary list-style-dashed"
                       id="submenu9">
                    <ul>
                      <li>
                        <a class="animsition-link"
                            href="/admin/setup/raid/testname">Test Name</a>
                      </li>
                      <li>
                        <a class="animsition-link"
                            href="/admin/setup/raid/testfee">Test Fee</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a class="animsition-link"
                      href="widget.html">Widget</a>
                </li>
                <li class="has-submenu">
                  <a aria-expanded="true"
                      data-toggle="collapse"
                      href="#submenu6">Menu Levels</a>
                  <div class="sub-menu collapse tertiary list-style-dashed"
                       id="submenu6">
                    <ul>
                      <li>
                        <a href="#">Menu 1</a>
                      </li>
                      <li>
                        <a href="#">Menu 2</a>
                      </li>
                      <li>
                        <a href="#">Menu 3</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          {{!-- <li class="side-nav-header">Milestones
            <div class="dropdown">
              <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#"></a>
              <ul class="dropdown-menu dropdown-animated pop-effect pull-right">
                <li>
                  <a href="#">Add new milestone</a>
                </li>
                <li>
                  <a href="#">Remove milestone</a>
                </li>
              </ul>
            </div>
          </li> --}}
        </ul>
      </div><!-- /.sidebar-inner -->
    </aside>