  <header class="header-top navbar">
      <div class="top-bar">
        <div class="container">
          <div class="main-search">
            <div class="input-wrap">
              <input class="form-control"
                   placeholder="Search Here..."
                   type="text"> <a href="#"></a>
            </div><span class="close-search search-toggle">Cancel</span>
          </div>
        </div>
      </div><!-- /.container -->
      <div class="navbar-header">
        <button class="navbar-toggle side-nav-toggle"
             type="button"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand"
             href="index-2.html">Q<span>uantum</span></a>
        <ul class="nav navbar-nav-xs">
          <li>
            <a class="font-lg collapse"
                data-target="#headerNavbarCollapse"
                data-toggle="collapse"
                href="#"></a>
          </li>
          <li>
            <a class="search-toggle"
                href="#"></a>
          </li>
          <li>
            <a class="toggle-right-sidebar"
                href="#"></a>
          </li>
        </ul>
      </div><!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
           id="headerNavbarCollapse">
        <ul class="nav navbar-nav">
          <li class="hidden-xs">
            <a class="font-lg sidenav-size-toggle"
                href="#"></a>
          </li>
          <li class="dropdown">
            <a class="font-lg dropdown-toggle"
                data-toggle="dropdown"
                href="#">
            <div class="new-alert active"></div><span class="hidden-sm hidden-md hidden-lg font-12 m-l-5">Messages</span></a>
            <ul class="dropdown-menu dropdown-animated pop-effect dropdown-lg list-group-dropdown">
              <li class="no-link font-12">You have 4 new unread messages</li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic profile-icon"></div>
                  <div class="detail">
                    <span class="text-normal">Ricky Palmer</span> <span class="time">3 hrs ago</span>
                    <p class="font-11 no-m-b text-overflow">Sent you a file</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic profile-icon"></div>
                  <div class="detail">
                    <span class="text-normal">Charles Dockery</span> <span class="time">Jun 03, 2015</span>
                    <p class="font-11 no-m-b text-overflow">Sent you a message</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic profile-icon"></div>
                  <div class="detail">
                    <span class="text-normal">Kimberly Crouch</span> <span class="time">May 17, 2015</span>
                    <p class="font-11 no-m-b text-overflow">Purchased your item</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a class="text-center"
                    href="#">See all</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle font-lg"
                data-toggle="dropdown"
                href="#"><span class="badge bg-danger">3</span> <span class="hidden-sm hidden-md hidden-lg font-12 m-l-5">New Account</span></a>
            <ul class="dropdown-menu dropdown-animated pop-effect dropdown-lg list-group-dropdown">
              <li class="no-link font-12">You have 5 new notifications</li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic"><img alt=""
                       src="../img/profile2.jpg"></div>
                  <div class="detail">
                    <span class="text-normal">Carrie Orr</span> <span class="time">2 mins ago</span>
                    <p class="font-11 no-m-b text-overflow">Start following you</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic"><img alt=""
                       src="../img/profile3.jpg"></div>
                  <div class="detail">
                    <span class="text-normal">James Wygant</span> <span class="time">1 hr ago</span>
                    <p class="font-11 no-m-b text-overflow">Accepted your friend request</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic"><img alt=""
                       src="../img/profile4.jpg"></div>
                  <div class="detail">
                    <span class="text-normal">Mary Cormier</span> <span class="time">yesterday</span>
                    <p class="font-11 no-m-b text-overflow">Sent you a friend request</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a href="#">
                <div class="user-list-wrap">
                  <div class="profile-pic"><img alt=""
                       src="../img/profile5.jpg"></div>
                  <div class="detail">
                    <span class="text-normal">Erica Conley</span> <span class="time">2 days ago</span>
                    <p class="font-11 no-m-b text-overflow">Start following you</p>
                  </div>
                </div></a>
              </li>
              <li>
                <a class="text-center"
                    href="#">See all</a>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-full hidden-sm">
            <a data-toggle="dropdown"
                href="#">Mega</a>
            <div class="dropdown-menu clickable-dropdown dropdown-animated fade-effect">
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  <div class="text-upper">
                    Navagation
                  </div>
                  <div class="row m-t-10 font-12">
                    <div class="col-sm-6">
                      <ul class="list-unstyled line-2x link-unstyled-wrap">
                        <li>
                          <a href="#">Dashboard <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Component <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Form <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Email <span class="m-d-1">&raquo;</span></a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list-unstyled line-2x link-unstyled-wrap">
                        <li>
                          <a href="#">Profile <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Tasks <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Gallery <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Calendar <span class="m-d-1">&raquo;</span></a>
                        </li>
                        <li>
                          <a href="#">Tasks <span class="m-d-1">&raquo;</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 b-all b-lr line-dashed m-t-15-xs">
                  Get Start with a 7 days free trial
                  <div class="row m-t-15">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control"
                             placeholder="Name"
                             type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control"
                             placeholder="Email"
                             type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control"
                             placeholder="Password"
                             type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control"
                             placeholder="Confirm Password"
                             type="text">
                      </div>
                    </div>
                  </div>
                  <hr class="line-dashed">
                  <p class="font-12 text-muted">We do not sell or share your personal information with anyone else without your explicit consent.</p>
                  <div class="text-right m-t-20">
                    <button class="btn btn-main"
                         type="button">Start My Trial</button>
                  </div>
                </div>
                <div class="col-sm-4 m-t-15-xs">
                  <ul class="list-unstyled list-icons line-2x text-muted font-12">
                    <li>Cancel anytime</li>
                    <li>No credit card required</li>
                    <li>Free support</li>
                  </ul>
                  <hr class="line-dashed">
                  <p class="text-muted font-12 font-italic">Already have an account? <a href="#">Login</a></p>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown hidden-sm">
            <a class="animsition-link"
                href="../../frontend/index-2.html">Front End</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="main-search hidden-xs">
            <div class="input-wrap">
              <input class="form-control"
                   placeholder="Search Here..."
                   type="text"> <a href="#"></a>
            </div>
          </li>
          <li class="user-profile dropdown">
            <a class="clearfix dropdown-toggle"
                data-toggle="dropdown"
                href="#"><img alt=""
                 class="hidden-sm"
                 src="../img/profile1.jpg">
            <div class="user-name">
              {{session.admin}}
            </div></a>
            <ul class="dropdown-menu dropdown-animated pop-effect"
                role="menu">
              <li>
                <a href="#">My Profile</a>
              </li>
              <li>
                <a href="#">My Tasks</a>
              </li>
              <li>
                <a href="#">Inbox</a>
              </li>
              <li>
                <a href="#">Logout</a>
              </li>
            </ul>
          </li>
          <li class="hidden-xs">
            <a class="font-lg toggle-right-sidebar"
                href="#"></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </header>