<header class="top-nav">
      <script src="revolution/js/extensions/revolution.extension.video.min.js"
              type="text/javascript"></script> 
      <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"
              type="text/javascript"></script> 
      <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"
              type="text/javascript"></script> 
      <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"
              type="text/javascript"></script> 
      <script src="revolution/js/extensions/revolution.extension.navigation.min.js"
              type="text/javascript"></script> 
      <script src="revolution/js/extensions/revolution.extension.parallax.min.js"
              type="text/javascript"></script>
      <div class="container">
        <div class="navbar-header">
          <button aria-expanded="false"
               class="navbar-toggle collapsed"
               data-target="#topNavCollapse"
               data-toggle="collapse"
               type="button"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand font-header animsition-link"
               href="index-2.html"><span class="text-main">QUAN</span>TUM</a>
        </div><!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="topNavCollapse">
          <ul class="nav navbar-nav navbar-right"
              id="scrolledNav">
            <li class="active">
              <a href="index-2.html">Home</a>
            </li>
            <li>
              <a href="#featureSection">Features</a>
            </li>
            <li>
              <a href="#portfolioSection">Works</a>
            </li>
            <li>
              <a href="#blogSection">Blog</a>
            </li>
            <li>
              <a href="#pricingSection">Pricing</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle"
                  data-toggle="dropdown"
                  href="#">Pages</a>
              <ul class="dropdown-menu no-arrow dropdown-animated fade-effect">
                <li>
                  <a class="animsition-link"
                      href="feature.html">Feature</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="blog_list.html">Blog List</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="blog_grid.html">Blog Grid</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="blog_grid_no_sidebar.html">Blog Grid Without Sidebar</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="blog_single.html">Blog Single</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="portfolio_grid.html">Portfolio Grid</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="portfolio_single.html">Portfolio Single</a>
                </li>
                <li>
                  <a class="animsition-link"
                      href="contact.html">Contact</a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </header>