 <footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-sm-3 text-center">
            <h4 class="text-upper text-white"><b>Quan</b>tum</h4>
        </div><!-- /.col -->
        <div class="col-sm-9 text-center-xs m-t-30-xs">
            <div class="row">
            <div class="col-sm-3">
                <div class="font-header text-upper">
                Products
                </div>
                <ul class="list-unstyled m-t-5 line-24">
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Features</a>
                </li>
                <li>
                    <a href="#">Pricing</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
                </ul>
            </div>
            <div class="col-sm-3 m-t-15-xs">
                <div class="font-header text-upper">
                Resources
                </div>
                <ul class="list-unstyled m-t-5 line-24">
                <li>
                    <a href="#">Platform</a>
                </li>
                <li>
                    <a href="#">Plugin</a>
                </li>
                <li>
                    <a href="#">Service</a>
                </li>
                </ul>
            </div>
            <div class="col-sm-3 m-t-15-xs">
                <div class="font-header text-upper">
                Customers
                </div>
                <ul class="list-unstyled m-t-5 line-24">
                <li>
                    <a href="#">Sales</a>
                </li>
                <li>
                    <a href="#">Promotion</a>
                </li>
                </ul>
            </div>
            <div class="col-sm-3 m-t-15-xs">
                <div class="font-header text-upper">
                Company
                </div>
                <ul class="list-unstyled m-t-5 line-24">
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                </ul>
            </div>
            </div>
        </div><!-- /.col -->
        </div><!-- /.row -->
        <hr>
        <div class="text-center">
        <a class="text-white"
                href="#"></a> <a class="text-white m-l-5"
                href="#"></a> <a class="text-white m-l-5"
                href="#"></a>
        <div class="m-t-15">
            &copy; 2015. <b class="text-white">Quantum</b> by <b class="text-white">Endless Theme</b>
        </div>
        </div>
    </div><!-- /.container -->
    </footer>