<a href="/admin/setup/bloodgroup">
    <button class="btn btn-dark btn-rounded">Back</button>
</a>
</br></br>
<div class="panel panel-default">
    <div class="panel-heading font-header"><h4>Edit Blood Group</h4></div>
    <div class="panel-body">
         <form id="regform1" method="post" action="/admin/setup/bloodgroup/edit" name="regform1" >
                <div class="form-group">
                    <input name="id" type="hidden" value="{{ result._id }}" />
                    <label class="control-label" for="name">Blood Group</label>
                    <input type="text" name="name" id="name" class="form-control input-rounded" value="{{ result.name }}" placeholder="Blood Group">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-rounded">Update</button>
                </div>
         </form>
    </div>
</div>


