<a href="/admin/setup/testfee">
    <button class="btn btn-dark btn-rounded">Back</button>
</a>
</br></br>
<div class="panel panel-default">
    <div class="panel-heading font-header"><h4>Register New Payment Fee</h4></div>
    <div class="panel-body">
         <form id="regform1" method="post" action="/admin/setup/testfee/add" name="regform1" >
                <div class="form-group">
                    <label class="control-label" for="testname">Test Name</label>
                    <select class="form-control input-rounded" name="testname" id= "testname" >
                        <option value="" selected> Select </option>
                        {{#testname}}
                        <option value="{{_id}}"> {{name}} </option>
                        {{/testname}}
                    </select>
                </div>
        
                <div class="form-group">
                    <label class="control-label" for="amount">Amount</label>
                    <input type="text" name="amount" id="amount" class="form-control input-rounded" placeholder="Amount">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-rounded">Save</button>
                </div>
         </form>
    </div>
</div>


