<!DOCTYPE html>
<html lang="en">
<head>
{{> Backend_Head }}
</head>
  <body>
    <div class="wrapper animsition has-footer">
      {{> Backend_TopNav }}
        {{> Backend_Navigation }}
        <div class="main-container">
            {{> Notifications }}
            {{{body}}}
        </div>
        {{> Backend_Footer }}
    </div>
        {{> Javascript }}
  </body> 
</html>