<!DOCTYPE html>
<html lang="en">
    {{> Frontend_Head }}
    <body>
        <div class='wrapper animsition'>
        {{>Frontend_Topnav}}
        <div class='main-container'>
        {{{body}}}
        {{> Frontend_Footer }}
        </div>
        </div>
        {{> Javascript_Frontend }}
    </body>
</html>