<div class="rev_slider_wrapper fullwidthbanner-container"
        data-alias="webproductlighthero"
        id="rev_slider_211_1_wrapper"
        style="background-color:#f9f9f9;margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.1.1RC fullwidth mode -->
    <div class="rev_slider fullwidthabanner"
            data-version="5.1.1RC"
            id="rev_slider"
            style="display:none;">
        <ul>
        <!-- SLIDE  -->
        <li data-description=""
            data-easein="Power4.easeInOut"
            data-easeout="Power4.easeInOut"
            data-index="rs-20"
            data-masterspeed="2000"
            data-rotate="0"
            data-saveperformance="off"
            data-slotamount="7"
            data-title="Love it?"
            data-transition="3dcurtain">
            <!-- MAIN IMAGE -->
            <img alt=""
                class="rev-slidebg"
                data-bgfit="cover"
                data-bgposition="top center"
                data-bgrepeat="no-repeat"
                data-no-retina=""
                src="/assets/frontend/img/slide_bg1.jpg"> <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                data-elementdelay="0.1"
                data-fontsize="['70','70','70','45']"
                data-height="none"
                data-hoffset="['0','0','0','0']"
                data-lineheight="['70','70','70','50']"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-responsive_offset="on"
                data-splitin="chars"
                data-splitout="none"
                data-start="1000"
                data-transform_idle="o:1;"
                data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-voffset="['0','0','0','0']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                id="slide-20-layer-1"
                style="z-index: 5; white-space: nowrap;font-weight:400;">
            Clean & Modern
            </div><!-- LAYER NR. 2 -->
            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
                data-height="none"
                data-hoffset="['0','0','0','0']"
                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1500"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-voffset="['52','52','52','51']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                id="slide-20-layer-4"
                style="z-index: 6; white-space: nowrap; font-weight:700;">
            GET QUANTUM ADMIN TODAY
            </div><!-- LAYER NR. 3 -->
            <div class="tp-caption NotGeneric-Icon tp-resizeme rs-parallaxlevel-0"
                data-height="none"
                data-hoffset="['0','0','0','0']"
                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="2000"
                data-style_hover="cursor:default;"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-voffset="['-68','-68','-68','-68']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                id="slide-20-layer-8"
                style="z-index: 7; white-space: nowrap;"></div>
        </li>
        <li data-description=""
            data-easein="default"
            data-easeout="default"
            data-index="rs-699"
            data-masterspeed="1500"
            data-rotate="0"
            data-saveperformance="off"
            data-slotamount="7"
            data-title="Intro"
            data-transition="fade">
            <!-- MAIN IMAGE -->
            <img alt=""
                class="rev-slidebg"
                data-bgfit="cover"
                data-bgposition="top center"
                data-bgrepeat="no-repeat"
                data-no-retina=""
                src="/assets/frontend/img/slide_bg2.jpg"> <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-6"
                data-height="none"
                data-hoffset="['-254','-453','70','60']"
                data-responsive_offset="on"
                data-start="2500"
                data-transform_idle="o:1;"
                data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['0','0','131','35']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['right','right','center','center']"
                data-y="['middle','middle','middle','bottom']"
                id="slide-699-layer-1"
                style="z-index: 5;"><img alt=""
                data-hh="['600px','600px','300px','210px']"
                data-no-retina=""
                data-ww="['1000px','1000px','500px','350px']"
                height="600"
                src="/assets/frontend/revolution/assets/images/macbookpro.png"
                width="1000"></div><!-- LAYER NR. 2 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-6 tp-videolayer"
                data-hoffset="['829','866','297','185']"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-responsive_offset="on"
                data-start="3350"
                data-transform_idle="o:1;"
                data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-videocontrols="none"
                data-videoheight="['408px','408px','204px','145px']"
                data-videoposter="img/macbook_screen.png"
                data-videowidth="['653px','653px','325px','229px']"
                data-voffset="['67','217','582','514']"
                data-whitespace="nowrap"
                data-x="['left','left','left','left']"
                data-y="['top','top','top','top']"
                id="slide-699-layer-11"
                style="z-index: 6;"></div><!-- LAYER NR. 4 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-4"
                data-height="none"
                data-hoffset="['643','633','-110','-60']"
                data-responsive_offset="on"
                data-start="2750"
                data-transform_idle="o:1;"
                data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['33','123','355','35']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['left','left','center','center']"
                data-y="['top','top','top','bottom']"
                id="slide-699-layer-3"
                style="z-index: 8;"><img alt=""
                data-hh="['540px','540px','251px','213px']"
                data-no-retina=""
                data-ww="['430px','430px','200px','170px']"
                height="540"
                src="/assets/frontend/revolution/assets/images/ipad.png"
                width="430"></div><!-- LAYER NR. 5 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-4"
                data-height="none"
                data-hoffset="['713','703','212','-60']"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-responsive_offset="on"
                data-start="3700"
                data-transform_idle="o:1;"
                data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['121','211','397','75']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['left','left','left','center']"
                data-y="['top','top','top','bottom']"
                id="slide-699-layer-4"
                style="z-index: 9;"><img alt=""
                data-hh="['374px','374px','174px','148px']"
                data-no-retina=""
                data-ww="['290px','290px','135px','115px']"
                height="374"
                src="/assets/frontend/img/ipad_screen.png"
                width="290"></div><!-- LAYER NR. 7 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                data-height="none"
                data-hoffset="['580','553','127','58']"
                data-responsive_offset="on"
                data-start="3000"
                data-transform_idle="o:1;"
                data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['123','212','392','371']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['left','left','left','left']"
                data-y="['top','top','top','top']"
                id="slide-699-layer-5"
                style="z-index: 11;"><img alt=""
                data-hh="['450px','450px','225px','173px']"
                data-no-retina=""
                data-ww="['260px','260px','130px','100px']"
                height="450"
                src="/assets/frontend/revolution/assets/images/ihpone.png"
                width="260"></div><!-- LAYER NR. 8 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                data-height="none"
                data-hoffset="['626','598','150','75']"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-responsive_offset="on"
                data-start="3950"
                data-transform_idle="o:1;"
                data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['205','294','433','402']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['left','left','left','left']"
                data-y="['top','top','top','top']"
                id="slide-699-layer-6"
                style="z-index: 12;"><img alt=""
                data-hh="['286px','286px','143px','111px']"
                data-no-retina=""
                data-ww="['170px','170px','85px','66px']"
                height="286"
                src="/assets/frontend/img/iphone_screen.png"
                width="170"></div><!-- LAYER NR. 10 -->
            <div class="tp-caption WebProduct-Title tp-resizeme rs-parallaxlevel-7 font-header"
                data-fontsize="['60','50','45','30']"
                data-height="none"
                data-hoffset="['30','130','200','80']"
                data-lineheight="['60','60','45','30']"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1000"
                data-transform_idle="o:1;"
                data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['-100','-150','70','50']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','top','top']"
                id="slide-699-layer-7"
                style="z-index: 14; white-space: nowrap; color:#fff;">
            Fully Responsive
            </div><!-- LAYER NR. 11 -->
            <div class="tp-caption WebProduct-Content tp-resizeme rs-parallaxlevel-7"
                data-fontsize="['16','16','16','14']"
                data-height="['none','none','81','88']"
                data-hoffset="['35','135','200','80']"
                data-lineheight="['24','24','24','22']"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1500"
                data-transform_idle="o:1;"
                data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['-21','-73','130','89']"
                data-whitespace="normal"
                data-width="['448','356','370','317']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','top','top']"
                id="slide-699-layer-9"
                style="z-index: 15; min-width: 448px; max-width: 448px; white-space: normal; color: #fff;">
            This template is compatible with all modern device, phone, tablet and desktop
            </div><!-- LAYER NR. 12 -->
            <a class="tp-caption rev-btn rev-btn rs-parallaxlevel-8 bg-main animsition-link"
                data-height="none"
                data-hoffset="['35','135','200','80']"
                data-link="../admin/sidemeni/index.html"
                data-responsive="off"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1750"
                data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
                data-target="../admin/sidemenu/index.html"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                data-transform_idle="o:1;"
                data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                data-voffset="['68','62','206','165']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','top','top']"
                href="../admin/sidemenu/index-2.html"
                id="slide-699-layer-8"
                style=
                "z-index: 16; white-space: nowrap; font-size: 16px; line-height: 1.4; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Montserrat', sans-serif;;padding:5px 40px;border-color:rgba(0, 0, 0, 1.00);border-width:2px;letter-spacing:1px;">GET
                STARTED TODAY</a>
        </li><!-- SLIDE  -->
        <li data-description=""
            data-easein="default"
            data-easeout="default"
            data-index="rs-274"
            data-masterspeed="1000"
            data-rotate="0"
            data-saveperformance="off"
            data-slotamount="7"
            data-title="Slide"
            data-transition="fade">
            <!-- MAIN IMAGE -->
            <img alt=""
                class="rev-slidebg"
                data-bgparallax="10"
                data-bgposition="center bottom"
                data-duration="30000"
                data-ease="Linear.easeNone"
                data-kenburns="on"
                data-no-retina=""
                data-offsetend="0 0"
                data-offsetstart="0 0"
                data-rotateend="0"
                data-rotatestart="0"
                data-scaleend="120"
                data-scalestart="100"
                src="/assets/frontend/img/slide_bg3.jpg"> <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                data-basealign="slide"
                data-height="full"
                data-hoffset="['0','0','0','0']"
                data-responsive_offset="on"
                data-start="1000"
                data-transform_idle="o:1;"
                data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="s:300;s:300;"
                data-voffset="['0','0','0','0']"
                data-whitespace="normal"
                data-width="full"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                id="slide-274-layer-3"
                style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 1.00);"></div><!-- LAYER NR. 2 -->
            <div class="tp-caption Newspaper-Title-Centered tp-resizeme rs-parallaxlevel-0"
                data-fontsize="['50','50','50','30']"
                data-height="none"
                data-hoffset="['0','0','0','0']"
                data-lineheight="['55','55','55','35']"
                data-mask_in="x:0px;y:0px;"
                data-mask_out="x:0;y:0;"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1000"
                data-transform_idle="o:1;"
                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="auto:auto;s:1000;"
                data-voffset="['0','0','0','1']"
                data-whitespace="normal"
                data-width="['721','721','721','420']"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                id="slide-274-layer-1"
                style="z-index: 6; min-width: 721px; max-width: 721px; white-space: normal;text-align:center;">
            Start building your own application.
            </div><!-- LAYER NR. 3 -->
            <div class="tp-caption Newspaper-Subtitle tp-resizeme rs-parallaxlevel-0 font-header"
                data-height="none"
                data-hoffset="['0','0','0','0']"
                data-mask_in="x:0px;y:0px;"
                data-mask_out="x:0;y:0;"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1000"
                data-transform_idle="o:1;"
                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="auto:auto;s:1000;"
                data-voffset="['-72','-72','-72','-48']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                id="slide-274-layer-2"
                style="z-index: 7; white-space: nowrap; letter-spacing:2px;">
            CHECK OUR LIVE PREVIEW
            </div><!-- LAYER NR. 4 -->
            <a class="tp-caption Newspaper-Button rev-btn rs-parallaxlevel-0 animsition-link"
                data-height="none"
                data-hoffset="['0','0','0','0']"
                data-responsive="off"
                data-responsive_offset="on"
                data-splitin="none"
                data-splitout="none"
                data-start="1000"
                data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                data-transform_idle="o:1;"
                data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
                data-voffset="['92','92','92','76']"
                data-whitespace="nowrap"
                data-width="none"
                data-x="['center','center','center','center']"
                data-y="['middle','middle','middle','middle']"
                href="../admin/sidemenu/index-2.html"
                id="slide-274-layer-4"
                style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-weight:400;font-family:'Montserrat', sans-serif;">Live Preview</a>
        </li>
        </ul>
        <div class="tp-static-layers"></div>
        <div class="tp-bannertimer"
            style="height: 7px"></div>
    </div>
    </div><!-- END REVOLUTION SLIDER -->
    <div class="section subscribe-section bg-light">
    <div class="section-inner">
        <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center-xs">
            <h4 class="no-m-t font-header">START BUILDING YOUR RESPONSIVE WEB APPLICATION</h4>
            <div class="text-muted">
                <b>Quantum is the fastest way to grow your business.</b>
            </div>
            </div><!-- ./col -->
            <div class="col-sm-4 text-right text-center-xs m-t-30-xs">
            <a class="btn btn-main btn-lg btn-flat m-t-5 text-spacing-2 animsition-link"
                    href="../admin/sidemenu/index-2.html">Live Preview</a>
            </div><!-- ./col -->
        </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    </div><!-- /.section -->
    <div class="section section-padding section-bordered text-center"
        id="featureSection">
    <div class="container">
        <h2 class="font-light font-header no-m-t text-dark section-heading">Why use Quantum for your next application?</h2>
        <p class="font-16 line-24 m-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget<br>
        ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
        <div class="row m-t-40">
        <div class="col-sm-6 col-md-4">
            <div class="feature-wrap waypoint-animated-element animated"
                data-animation="fadeInLeft">
            <div class="feature-icon"></div>
            <h5 class="font-header text-upper text-dark"><b>Admin Dashboard</b></h5>
            <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-md-4">
            <div class="feature-wrap waypoint-animated-element animated animation-delay1"
                data-animation="fadeInLeft">
            <div class="feature-icon"></div>
            <h5 class="font-header text-upper text-dark"><b>Landing Page</b></h5>
            <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-md-4">
            <div class="feature-wrap waypoint-animated-element animated animation-delay2"
                data-animation="fadeInLeft">
            <div class="feature-icon"></div>
            <h5 class="font-header text-upper text-dark"><b>Responsive Design</b></h5>
            <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-md-4">
            <div class="feature-wrap waypoint-animated-element animated"
                data-animation="fadeInRight">
            <div class="feature-icon"></div>
            <h5 class="font-header text-upper text-dark"><b>HTML5 & CSS3</b></h5>
            <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-md-4">
            <div class="feature-wrap waypoint-animated-element animated animation-delay1"
                data-animation="fadeInRight">
            <div class="feature-icon"></div>
            <h5 class="font-header text-upper text-dark"><b>Easy to Customize</b></h5>
            <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-md-4">
            <div class="feature-wrap waypoint-animated-element animated animation-delay2"
                data-animation="fadeInRight">
            <div class="feature-icon"></div>
            <h5 class="font-header text-upper text-dark"><b>Customer Support</b></h5>
            <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.</p>
            </div>
        </div><!-- ./col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section section-bordered section-padding bg-light no-p-b">
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            <h2 class="font-light font-header no-m-t section-heading">Download Our Free App on your phone</h2>
            <p class="font-16 line-24 m-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est. Nulla accumsan quis ipsum eu dignissim. Donec
            arcu tellus, aliquet id lorem ac, euismod posuere sapien.</p>
            <p class="font-16 line-24">Morbi sollicitudin pulvinar justo eget placerat. Cras vitae tempus ligula, sit amet sollicitudin tortor. Phasellus sollicitudin magna sit amet placerat cursus. Ut risus neque, porta quis pulvinar eget,
            placerat in mi.</p>
            <div class="m-t-40 text-center-xs">
            <button class="btn btn-dark btn-lg btn-rounded m-r-20 m-b-40"
                    style="width:290px;"><span class="block text-left m-d-2">Available on the<br>
            <b>App Store</b></span></button> <button class="btn btn-main btn-lg btn-rounded m-b-40"
                    style="width:290px;"><span class="block text-left m-d-2">Get it on<br>
            <b>Google Play</b></span></button>
            </div>
        </div><!-- /.col -->
        <div class="col-md-4 hidden-xs hidden-sm"><img alt=""
                class="img-responsive waypoint-animated-element animated"
                data-animation="fadeInRight"
                src="/assets/frontend/img/iphones.png"></div><!-- /.col -->
        </div><!-- /.row -->
    </div>
    </div><!-- /.section -->
    <div class="section section-bordered section-padding text-center">
    <div class="container">
        <h2 class="font-light font-header no-m-t text-dark section-heading">Services We Provide</h2>
        <div class="row m-t-20">
        <div class="col-sm-10 col-sm-offset-1">
            <p class="font-16 line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est. Nulla accumsan quis ipsum eu dignissim. Donec arcu
            tellus, aliquet id lorem ac.</p>
        </div>
        </div><!-- <div class="row m-t-40">
            <div class="col-sm-6 col-sm-offset-3">
            <img src="img/mockup3.png" alt="" class="img-responsive center-block">
            </div>
        </div>   -->
        <div class="row service-group-list clearfix m-t-30">
        <div class="col-sm-6 col-md-4 service-list-item">
            <div class="item-inner waypoint-animated-element animated"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Website Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item">
            <div class="item-inner waypoint-animated-element animated animation-delay1"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Graphic</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item">
            <div class="item-inner waypoint-animated-element animated animation-delay2"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Mobile App</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item">
            <div class="item-inner waypoint-animated-element animated"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Branding</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item">
            <div class="item-inner waypoint-animated-element animated animation-delay1"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Marketing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item">
            <div class="item-inner waypoint-animated-element animated animation-delay2"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">E-commerce</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item no-b-b">
            <div class="item-inner waypoint-animated-element animated"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">SEO</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item no-b-b">
            <div class="item-inner waypoint-animated-element animated animation-delay1"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Free Update</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 service-list-item no-b-b">
            <div class="item-inner waypoint-animated-element animated animation-delay2"
                data-animation="fadeInUp">
            <h5 class="font-header text-dark text-upper">Customer Support</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
            </div>
        </div>
        </div>
    </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section-padding bg-main text-center funfact-section parallax-bg">
    <div class="container">
        <h2 class="font-header no-m-t">Some Fun Facts</h2>
        <div class="row font-header m-t-20 waypoint-animated-element animated-text">
        <div class="col-sm-6 col-md-3">
            <h1 id="funFact1">0</h1>
            <div class="hide"
                id="funFactVal1">
            3723
            </div>
            <div class="text-upper">
            Projects
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6 col-md-3">
            <h1 id="funFact2">0</h1>
            <div class="hide"
                id="funFactVal2">
            28
            </div>
            <div class="text-upper">
            Awards Win
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6 col-md-3">
            <h1 id="funFact3">0</h1>
            <div class="hide"
                id="funFactVal3">
            1579
            </div>
            <div class="text-upper">
            Happy Clients
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6 col-md-3">
            <h1 id="funFact4">0</h1>
            <div class="hide"
                id="funFactVal4">
            9998
            </div>
            <div class="text-upper">
            WORKING DAYS
            </div>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section section-padding text-center no-p-b"
        id="portfolioSection">
    <div class="container">
        <h2 class="font-light font-header no-m-t text-dark section-heading">Our Awesome Works</h2>
        <div class="item-filter text-center m-t-20 hover-link-dots">
        <ul class="list-unstyled font-header font-12 clearfix">
            <li class="active">
            <a data-filter="*"
                data-toggle="tab"
                href="#">All</a>
            </li>
            <li>
            <a data-filter=".webdesign"
                data-toggle="tab"
                href="#">Web Design</a>
            </li>
            <li>
            <a data-filter=".graphic"
                data-toggle="tab"
                href="#">Graphic</a>
            </li>
            <li>
            <a data-filter=".photography"
                data-toggle="tab"
                href="#">Photography</a>
            </li>
            <li>
            <a data-filter=".marketing"
                data-toggle="tab"
                href="#">Marketing</a>
            </li>
        </ul>
        </div>
    </div><!-- /.container -->
    <div class="portfolio-grid m-t-30 clearfix loading">
        <div class="portfolio-item graphic">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p1.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Graphic</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item webdesign">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p7.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Web Design</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item webdesign marketing">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p3.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Web Design,Marketing</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item webdesign marketing">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p4.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Web Design,Marketing</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item graphic">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p5.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Graphic</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item photography">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p6.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Photography</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item webdesign graphic">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p2.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Web Design,Graphic</i>
            </div>
        </div></a>
        </div>
        <div class="portfolio-item photography">
        <a class="portfolio-inner animsition-link"
                href="portfolio_single.html"><img alt=""
                class="img-responsive"
                src="/assets/frontend/img/p8.jpg">
        <div class="portfolio-overlay">
            <div class="content-group">
            <h4 class="font-header text-upper no-m-b m-t-30">Portfolio Name</h4><i class="font-12 m-t-5">Photography</i>
            </div>
        </div></a>
        </div>
    </div>
    </div><!-- /.section -->
    <div class="section section-padding text-center"
        id="pricingSection">
    <div class="container">
        <h2 class="font-header no-m-t section-heading">Pricing Plan</h2>
        <div class="row m-t-20">
        <div class="col-sm-10 col-sm-offset-1">
            <p class="font-16 line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
        </div>
        </div>
        <div class="row m-t-40">
        <div class="col-sm-4">
            <div class="pricing-item pricing-gray waypoint-animated-element animated"
                data-animation="zoomIn">
            <div class="pricing-heading font-header text-white">
                Standard
                <h2>$49.99<span class="font-12">/mo</span></h2>
            </div>
            <div class="pricing-body">
                <ul class="pricing-service list-unstyled">
                <li>Amount of space 10 GB</li>
                <li>Bandwidth per month 150 GB</li>
                <li>5 Domains</li>
                <li>10 Email Addresses</li>
                <li>24/7 Unlimited Support</li>
                </ul>
                <div class="text-center m-t-30">
                <button class="btn btn-gray btn-lg">Choose Plan</button>
                </div>
            </div>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-4">
            <div class="pricing-item pricing-main waypoint-animated-element animated animation-delay1"
                data-animation="zoomIn">
            <div class="pricing-heading font-header text-white">
                Business
                <h2>$79.99<span class="font-12">/mo</span></h2>
            </div>
            <div class="pricing-body">
                <ul class="pricing-service list-unstyled">
                <li>Amount of space 30 GB</li>
                <li>Bandwidth per month 200 GB</li>
                <li>10 Domains</li>
                <li>20 Email Addresses</li>
                <li>24/7 Unlimited Support</li>
                </ul>
                <div class="text-center m-t-30">
                <button class="btn btn-main btn-lg">Choose Plan</button>
                </div>
            </div>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-4">
            <div class="pricing-item pricing-dark waypoint-animated-element animated animation-delay2"
                data-animation="zoomIn">
            <div class="pricing-heading font-header text-white">
                Professtional
                <h2>$99.99<span class="font-12">/mo</span></h2>
            </div>
            <div class="pricing-body">
                <ul class="pricing-service list-unstyled">
                <li>Amount of space 100 GB</li>
                <li>Bandwidth per month 500 GB</li>
                <li>20 Domains</li>
                <li>50 Email Addresses</li>
                <li>24/7 Unlimited Support</li>
                </ul>
                <div class="text-center m-t-30">
                <button class="btn btn-dark btn-lg">Choose Plan</button>
                </div>
            </div>
            </div>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
    </div>
    <div class="section section-padding text-center review-section parallax-bg">
    <div class="container">
        <h2 class="font-header no-m-t section-heading text-white">What Our Clients Say</h2>
        <div class="review-group owl-carousel owl-theme m-t-20">
        <div class="review-item">
            <img alt=""
                class="img-circle review-author m-t-20"
                src="/assets/frontend/img/profile1.jpg">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="review-bubble m-t-30">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est. Nulla accumsan quis ipsum eu dignissim.
                </div>
            </div>
            </div>
            <div class="m-t-30 text-white">
            <b class="block">Larry Mccabe</b> <i class="font-12">CEO and Founder</i>
            </div>
        </div><!-- /.review-item -->
        <div class="review-item">
            <img alt=""
                class="img-circle review-author m-t-20"
                src="/assets/frontend/img/profile2.jpg">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="review-bubble m-t-30">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti.
                </div>
            </div>
            </div>
            <div class="m-t-30 text-white">
            <b class="block">Katie Calhoun</b> <i class="font-12">Content Writer</i>
            </div>
        </div><!-- /.review-item -->
        <div class="review-item">
            <img alt=""
                class="img-circle review-author m-t-20"
                src="/assets/frontend/img/profile3.jpg">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="review-bubble m-t-30">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
            </div>
            <div class="m-t-30 text-white">
            <b class="block">Harris Wilson</b> <i class="font-12">Website Designer</i>
            </div>
        </div><!-- /.review-item -->
        </div><!-- /.review-group -->
    </div><!-- /.container -->
    </div>
    <div class="section section-padding text-center bg-light">
    <div class="container">
        <h2 class="font-header no-m-t section-heading">Meet Our Team</h2>
        <p class="font-16 line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
        <div class="row m-t-40">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team-wrap text-center waypoint-animated-element animated"
                    data-animation="flipInX">
                <img alt=""
                        class="profile-pic img-circle img-responsive center-block"
                        src="/assets/frontend/img/profile3.jpg">
                <div class="font-header m-t-10">
                    Joseph Edwards
                </div><i class="text-muted block font-12"><b>CEO</b></i> <a class="font-12 m-t-5"
                        href="#">Read More</a>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="team-wrap text-center waypoint-animated-element animated animation-delay1"
                    data-animation="flipInX">
                <img alt=""
                        class="profile-pic img-circle img-responsive center-block"
                        src="/assets/frontend/img/profile4.jpg">
                <div class="font-header m-t-10">
                    Felicia Clancy
                </div><i class="text-muted block font-12"><b>Web Designer</b></i> <a class="font-12 m-t-5"
                        href="#">Read More</a>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="team-wrap text-center waypoint-animated-element animated animation-delay2"
                    data-animation="flipInX">
                <img alt=""
                        class="profile-pic img-circle img-responsive center-block"
                        src="/assets/frontend/img/profile5.jpg">
                <div class="font-header m-t-10">
                    Lelah Wilburn
                </div><i class="text-muted block font-12"><b>Programmer</b></i> <a class="font-12 m-t-5"
                        href="#">Read More</a>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="team-wrap text-center waypoint-animated-element animated animation-delay3"
                    data-animation="flipInX">
                <img alt=""
                        class="profile-pic img-circle img-responsive center-block"
                        src="/assets/frontend/img/profile6.jpg">
                <div class="font-header m-t-10">
                    Elvin Cueva
                </div><i class="text-muted block font-12"><b>Marketing</b></i> <a class="font-12 m-t-5"
                        href="#">Read More</a>
                </div>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section section-padding section-bordered"
        id="blogSection">
    <div class="container">
        <h2 class="font-header no-m-t section-heading text-center">Our Recent Posts</h2>
        <div class="row m-t-40">
        <div class="col-md-4">
            <div class="blog-home-wrap waypoint-animated-element animated"
                data-animation="bounceIn">
            <div class="blog-img hover-element">
                <img alt=""
                    class="img-responsive"
                    src="/assets/frontend/img/b1.jpg">
                <div class="hover-overlay">
                <div class="hover-action">
                    <a class="btn btn-main btn-lg btn-rounded btn-icon animsition-link"
                        href="blog_single.html"></a>
                </div>
                </div>
            </div>
            <div class="font-header m-t-30 h4">
                How to grow your business
            </div>
            <p class="line-24 m-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.Nulla accumsan quis ipsum eu dignissim. Donec arcu
            tellus, aliquet id lorem ac.</p>
            </div>
        </div><!-- /.col -->
        <div class="col-md-4">
            <div class="blog-home-wrap waypoint-animated-element animated animation-delay1"
                data-animation="bounceIn">
            <div class="blog-img hover-element">
                <img alt=""
                    class="img-responsive"
                    src="/assets/frontend/img/b2.jpg">
                <div class="hover-overlay">
                <div class="hover-action">
                    <a class="btn btn-main btn-lg btn-rounded btn-icon animsition-link"
                        href="blog_single.html"></a>
                </div>
                </div>
            </div>
            <div class="font-header m-t-30 h4">
                Start building your own application.
            </div>
            <p class="line-24 m-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.Nulla accumsan quis ipsum eu dignissim. Donec arcu
            tellus, aliquet id lorem ac.</p>
            </div>
        </div><!-- /.col -->
        <div class="col-md-4">
            <div class="blog-home-wrap waypoint-animated-element animated animation-delay2"
                data-animation="bounceIn">
            <div class="blog-img hover-element">
                <img alt=""
                    class="img-responsive"
                    src="/assets/frontend/img/b3.jpg">
                <div class="hover-overlay">
                <div class="hover-action">
                    <a class="btn btn-main btn-lg btn-rounded btn-icon animsition-link"
                        href="blog_single.html"></a>
                </div>
                </div>
            </div>
            <div class="font-header m-t-30 h4">
                Choose the right person
            </div>
            <p class="line-24 m-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum. Suspendisse potenti. Quisque in dapibus est.Nulla accumsan quis ipsum eu dignissim. Donec arcu
            tellus, aliquet id lorem ac.</p>
            </div>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section bg-gray2 section-padding text-center">
    <div class="container">
        <h2 class="font-header no-m-t section-heading text-white">Get In Touch</h2>
        <p class="line-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet nulla eget ipsum vulputate dictum.</p>
        <div class="row m-t-40">
        <div class="col-sm-4">
            <h4 class="text-white">Email</h4>
            <div>
            endless.themes@gmail.com
            </div>
        </div>
        <div class="col-sm-4 m-t-30-xs">
            <h4 class="text-white">Address</h4>
            <address>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107
            </address>
        </div>
        <div class="col-sm-4 m-t-30-xs">
            <h4 class="text-white">Phone</h4>
            <div>
            (123) 456-7890
            </div>
        </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.section -->
